body {
    background-image: url("../../assets/Imagens/global-imagens/conteudo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-flow: column;
    align-items: center;
}