main {
    margin: 130px 1px 170px 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.conteudo-menu {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    padding: 1px 1px 1px 1px;
    border-radius: 13px;
    background-color: #141414;
}

.conteudo-menu > h1, h2, p, ul{
    font-family: "Delius", cursive;
    color: #ffffff ;
    text-align: center;
}

.conteudo-menu > h1 {
    width: 100%;
    padding: 5px 1px 5px 1px;
    border-radius: 10px 10px 1px 1px;
    background-color: #0b0b0b;
}

.conteudo-menu > h2 {
    padding: 60px 1px 10px 1px;
}

.conteudo-menu > p {
    padding: 40px 30px 40px 30px;
}

.conteudo-menu > hr {
    border: none;
    width: 90%;
    height: 1px; /* Aumenta a altura para garantir visibilidade */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(141 140 140), rgba(255, 255, 255, 0)); /* Gradiente com transparência nas bordas */
}

.Notas,
.Enchant-ul > li {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 0px 0px 0px;
}

.Enchant-ul > li > p {
    text-align: center;
    max-width: 400px;
}

.Enchant-ul > li > img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px;
}

.Notas {
    margin: 20px 0px 20px 0px
}