main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 120px;
}

.conteudo-geral {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    border-radius: 13px;
    background-color: #141414;
}

.conteudo-geral > h2, p {
    font-family: "Delius", cursive;
    font-weight: normal;
    color: #ffffff ;
    text-align: center;
}

.conteudo-geral > h2 {
    width: 100%;
    padding: 5px 1px 5px 1px;
    border-radius: 10px 10px 1px 1px;
    background-color: #0b0b0b;
}


.conteudo-geral > p {
    padding: 20px 50px;
}

#wiki-sobre {
    margin: 0px 0px 25px 0px;
}

#wiki-sobre > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#wiki-sobre > a > img {
    width: 100%;
    border-radius: 5px;
    margin: 1px 1px 25px 1px;
    transition: 0.5s ease;
}

#wiki-sobre > a > img:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

#Navegação {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 40px 20px;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    background-color: #252525;
}

.Divs-wiki {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.nav-wiki {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background: #d8d8d8;
    transition: 1s ease;
}

.nav-wiki:hover {
    transform: scale(1.05);
    transition: 1s ease;
    background-color: #ffcc00;
}

.Link-wiki {
    color: #D9AE00;
    font-family: "Delius", cursive;
    text-decoration: none;
    transition: all 0.4s;
}

.Link-wiki:hover {
    color: #ffcc00;
    text-decoration: underline;
    transition: all 0.4s;
}