main {
    margin: 130px 1px 170px 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.conteudo-principal {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    padding: 1px 1px 1px 1px;
    border-radius: 13px;
    background-color: #141414;
}

.conteudo-principal > h1, h2, p {
    font-family: "Delius", cursive;
    color: #ffffff ;
    text-align: center;
}

.conteudo-principal > h1 {
    width: 100%;
    padding: 5px 1px 5px 1px;
    border-radius: 10px 10px 1px 1px;
    background-color: #0b0b0b;
}

.conteudo-principal > h2 {
    padding: 30px 1px 25px 1px;
}

.Flex-texto {
    width: 700px;
}

.conteudo-principal > div > p {
    padding: 20px 50px;
}

.conteudo-principal > div > p > a {
    color: #ffcc00;
    text-decoration: none;
}

.conteudo-principal > div > p > a:hover {
    color: #ffcc00;
    text-decoration: underline;
}

.conteudo-principal > hr {
    border: none;
    width: 90%;
    height: 1px; /* Aumenta a altura para garantir visibilidade */
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(141 140 140), rgba(255, 255, 255, 0)); /* Gradiente com transparência nas bordas */
}



.tabelas-flex {
    max-width: 50%;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    font-family: "Roboto", sans-serif;
    min-width: 100%; /* mais largo que uma tela de celular */
    width: max-content; /* garante que ela cresça conforme o conteúdo */
    margin: 10px auto;
    color: white;
}

td, th {
    border: 1px solid #ffffff15;
    padding: 10px 15px;
}

th {
    background-color: #262626;
}

td {
    background-color: #1A1A1A;
}

.Nav-raças {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.teste {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 120px;
    text-align: center;
}

.teste a {
    color: #ffcc00;
    text-decoration: none;
    font-family: "Delius", cursive;
}

.Controle-Img-Tamanho {
    width: 120px;
    height: 150px;
    margin-bottom: 7px;
    border-radius: 2px;
    transition: 0.3s ease;
}

.Controle-Img-Tamanho:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

@media (max-width: 747px) {
    .conteudo-principal {
        padding: 0px 0px 10px 0px;
        width: 100%;
    }

    .Flex-texto {
        width: 100%;
        padding: 10px;
    }

    .conteudo-principal > div > p {
        padding: 10px;
        font-size: 14px;
    }

    .conteudo-principal > h1 {
        font-size: 20px;
        width: 100%;
    }

    .conteudo-principal > h2 {
        font-size: 18px;
        padding: 20px 0 10px 0;
    }

    .tabelas-flex {
        max-width: 77%;
        overflow-x: auto;
    }

    table {
        font-size: 12px;
    }

    td, th {
        padding: 6px 8px;
    }

    .Nav-raças {
        gap: 10px;
    }

    .teste {
        width: 100px;
    }

    .Controle-Img-Tamanho {
        width: 100px;
        height: 125px;
    }
}